body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(to right, gray, white);
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.counters {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

span {
    font-size: 25px;
    background: white;
    padding: 10px;
    border-radius: 15px;
    color: black;
}

.characterCounter,
.wordsCounter {
    transition: 0.2s;
    width: 90px;
    height: 90px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items: center;
    justify-content: space-around;
}

textarea {
    color: black;
    width: 90%;
    height: 60%;
    font-size: 20px;
    padding: 15px;
    outline: none;
    resize: none;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}